* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
}
.droit {
    position: absolute;
    right: 50px;
}
.inova {
    font-weight: bolder;
    color: #21243d;
}
.search {
    border-radius: 5px 5px;
}
.redline {
    width: 50px;
}
p {
    text-align: justify;
}

@media only screen and (max-width: 920px) {
    .icon {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .droit {
        margin-top: 10px;
    }
}